body {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/004/427/015/small_2x/blue-background-with-geometric-accent-free-vector.jpg');
    background-size: cover;
    font-family: cursive;  
    backdrop-filter: blur(10px);
    }
    
#puppy {
    text-align: center;
}
p {
    color: black;
    text-align: center; 
    }

h2 {

    color: white;
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: black;    
}
div.Games
{
    text-align: center;
}
ul.List
{
    display: inline-block;
    text-align: left;
}